name: Update Global IR Satellite

on:
  schedule:
    - cron: "*/30 * * * *"   # a cada 30 minutos
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download global IR satellite
        run: |
          mkdir -p ir
          curl -L --fail \
            https://rammb.cira.colostate.edu/data/imagery/global/ir/latest.png \
            -o ir/latest.png

      - name: Commit and push if changed
        run: |
          git config user.name "satellite-bot"
          git config user.email "bot@github.com"
          git add ir/latest.png
          git commit -m "Update IR satellite" || echo "No changes"
          git push
