name: Update Global IR Satellite

on:
  schedule:
    - cron: "*/30 * * * *"   # a cada 30 minutos
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download global IR satellite
        run: |
          mkdir -p ir
          curl -L --fail \
            "https://gibs.earthdata.nasa.gov/image-download?TIME=2024-01-01&extent=-180,-90,180,90&epsg=4326&layers=VIIRS_SNPP_CorrectedReflectance_BandsM11-I2-I1&opacities=1&worldfile=false&format=image/png&width=3600&height=1800" \
            -o ir/latest.png

      - name: Commit and push if changed
        run: |
          git config user.name "satellite-bot"
          git config user.email "bot@github.com"
          git add ir/latest.png
          git commit -m "Update IR satellite" || echo "No changes"
          git push
